@import url("https://fonts.googleapis.com/css2?family=Jeju+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alatsi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Road+Rage&display=swap");
@import "tailwindcss";

@plugin "tailwindcss-animate";
@custom-variant dark (&:is(.dark *));

@theme {
  --font-roadrage: "Road Rage", serif;
  --font-roboto: "Roboto", serif;
  --font-alatsi: "Alatsi", serif;
}

body {
  /* background: #02191d; */
  color: #fff;
  font-family: "JejuMyeongjo";
}
li {
  list-style-type: none;
  margin-left: 4rem;
}
html{
  font-size: 12px;
}
.ticket-upload > .ant-upload {
  border: none;
  position: relative;
  height: 100%;
}

.barcode {
  display: flex;
  gap: 4px;
  padding: 10px 10px 2px 10px;
  background: transparent;
}
.barcode div {
  width: 5px;

  background: white;
}
.barcode div:nth-child(3),
.barcode div:nth-child(7) {
  width: 2px;
}

.barcode div:nth-child(5),
.barcode div:nth-child(9) {
  width: 8px;
}
